#page { 
    margin-left: 36px;
}
th {
    background-color: darkgreen;
    color: white;
}
th, td {
    padding: 4px 10px 4px 10px;
}
table#bud_mgr {
    border-collapse: collapse;
    float: left;
}
table#bud_mgr, th {
    border-style: ridge;
    border-width: 1px;
}
td {
    border-right-style: ridge;
    border-right-width: 1px;
}
tbody tr:nth-child(odd):hover {
    background-color: #bfd9bf;
}
tbody tr:nth-child(even):hover {
    background-color: #bfd9bf;
}
#budsum {
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
    width: 400px;
}
