/* Position the budget table */
#budget { 
    margin-top: 24px;
    z-index: 10;
}
/* Certain items are hidden from display */
.noshow {
    display: none;
}
/* The actual budget table */
#roll3 {
    table-layout: fixed;
    margin-right: auto;
    margin-left: auto;
    border: none;
}
#roll3 tbody tr {
    cursor: pointer;
}
#ubtns {
    position: fixed;
    top: 72px;
    left: 14px;
}
/* When admin is logged in, show admin tools button */
#admin {
    display: none;
    margin-top: 1rem;
}
.amt {
    color: #006600;
}
