.noshow, #chgaccts {
    display: none;
}
button {
    margin-bottom: 32px;
}
table:not(#modal_table) {
    table-layout: fixed;
    margin-right: auto;
    margin-left: auto;
}
/* <div> containing modal window content */
#box, #ap, #distinc, #rename, #addacct, #dep, #xfr, #del, #mv, #cdadd {
    display: none;
}
.tdht {
    height: 72px;
    vertical-align: middle;
}
.modal_button {
    width: 120px;
    margin-bottom: 0px;
    margin-top: 22px;
}
input[id^=amt] {
    width: 60px;
    border-width: 1px;
    font-size: 14px;
}
input[id^=payee] {
    border-width: 1px;
    font-size: 14px;
    margin-top: 6px;
}
#xframt {
    margin-bottom: 6px;
}
#xfrto {
    position: relative;
    top: -10px;
}
#cdprops {
    margin-bottom: 8px;
}
