/* Position the budget table */
#budget { 
    margin-top: 24px;
    z-index: 10;
}
/* Certain items are hidden from display */
.noshow {
    display: none;
}
/* The actual budget table */
#roll3 {
    table-layout: fixed;
    margin-right: auto;
    margin-left: auto;
    border: none;
}
#roll3 tbody tr {
    cursor: pointer;
}
/* When admin is logged in, show admin tools button */
#admin {
    display: none;
    position: fixed;
    top: 72px;
    left: 28px;
    margin: 0px;
}
#preloader {
    display: none;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 999;
}
.amt {
    color: #006600;
}
