
.content {
    margin-top: 1rem;
    margin-left: 2rem;
}
@media only screen and (max-width:1000px) {
    .content {
        margin-left: 2px;
    }
}
@media only screen and (max-width:1200px) {
    .content {
        margin-left: 8px;
    }
}
@media only screen and (max-width:1400px) {
    .content {
        margin-left: 16px;
    }
}
table {
    table-layout: fixed;
    width: 80%;
    border: 2px solid darkgreen;
    margin-left: auto;
    margin-right: auto;
}
table th {
    color: darkgreen;
    padding: 0.5rem;
    min-height: 1rem;
    border: 1px solid darkgreen;
    text-decoration: underline;
}
table td {
    padding: 4px;
    min-height: 1rem;
    border: 1px solid dimgray;
}
table input {
    border: none;
}
.add2, .add4, .apday {
    text-align: center;
}
input[name^=napday] {
    width: 32px;
}
input[name^=namt] {
    width: 64px;
}
input[name^=orec], input[name^=oitem], input[name^=oamt],
input[name^=item], input[name^=amt], input[name^=osa_yr],
input[name^=oaptype], input[name^=oapday], input[name^=aptype],
input[name^=apday] {
    width: 96%;
}
select[name^=sa_yr], .nyears {
    display: none;
}
input[type="checkbox"] {
       /* Double-sized Checkboxes */
       -ms-transform: scale(1.5);
       /* IE */
       -moz-transform: scale(1.5);
       /* FF */
       -webkit-transform: scale(1.5);
       /* Safari and Chrome */
       -o-transform: scale(1.5);
       /* Opera */
       transform: scale(1.5);
       padding: 5px;
}
.rms {
    text-align: center;
}
.gray {
    color: darkgray;
}
#newrow {
    border-radius: 6px;
}