img {
    max-width: 98%;
    max-height: 98%
}
#login {
    position: absolute;
    top: 130px;
    left: 180px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
#intro {
    padding: 8px 8px 0px 8px;
    font-size: 24px;
    border-bottom: solid;
    border-color: darkgreen;
    border-width: 1px;
    background-color: floralwhite;
}
#subtext {
    position: relative;
    top: -4px;
    font-size: 18px;
}
#free {
    font-size: 18px;
    position: relative;
    top: -4px;
}
#userbox {
    padding: 8px;
    background-color: floralwhite;
    font-size: 20px;
}
#user, #upass {
    height: 22px;
    border-width: 1px;
    font-size: 14px;
}
#link {
    position: relative;
    left: 38px;
    top: 4px;
}
#log_modal {
    display: none;
}
#rp {
    position: relative;
    top: 8px;
    font-size: 16px;
}
