.hdr {
    margin-left: 16px;
    margin-right: 16px;
}
.actions {
    margin-bottom: 2px;
    color: brown;
}
.edtxt {
    font-size: 22px;
}
table { 
    border-collapse: collapse;
}
th {
    text-align: left;
    padding: 0px 6px 0px 6px;
    border: 1px solid #ddd;
    background-color: #B8D2AF;
    cursor: pointer;
}
td {
    padding: 0px 6px 0px 6px;
    border: 1px solid #ddd;
}
.crtbl tbody tr:hover, .drtbl tbody tr:hover {
    background-color: #cfe2cf;
}

.col1 {
    width: 120px;
}
.col2 {
    width: 100px;
}
.col3, .col4 {
    width: 180px;
}
#ochgs, #exps {
    width: 48%;
    float: left;
    margin-top: 16px;
    z-index: 1;
    margin-left: 8px;
    margin-right: 8px;
}
#innerexp {
    margin-top: 0px;
}
input[type=checkbox] {
    transform: scale(1.4);
}
 .mvcr, .mvex, .mvdr, .mvtocr, .mvtodr {
     display: none;
 }
.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{ color: brown; }
    70%{ color: transparent; }
    100%{   color: #000;    }
}
