#header {
    height: 24px;
    width: 100%;
    font-size: 18px;
    border-style: outset;
    border-width: 2px;
    background-color: #ffeecc;
    text-align: center;
    margin-bottom: 6px;
}
.modal-content {
    margin-bottom: 0px;
}
.modal-close {
    position: relative;
    margin-bottom: 0px;
}
#modpass {
    font-size: 18px;
}
#passin {
    height: 22px;
    font-size: 14px;
    border-width: 1px;
}
#acct, #cc {
    margin-bottom: 4px;
}
#cc {
    margin-top: 6px;
}
#expamt {
    height: 18px;
    width: 70px;
    font-size: 14px;
    border-width: 1px;
    margin-bottom: 8px;
}
#pay {
    margin-bottom: 0px;
}
#payee {
    height: 18px;
    width: 200px;
    font-size: 14px;
    border-width: 1px;
    margin-bottom: 8px;
}
#incamt {
    height: 22px;
    width: 110px;
    font-size: 16px;
    border-width: 1px;
}
#doit {
    margin-top: 8px;
}
#newacct {
    height: 22px;
    width: 260px;
    font-size: 14px;
}
#mo {
    height: 22px;
    width: 60px;
    font-size: 14px;
}
#depo {
    width: 80px;
    height: 22px;
    font-size: 14px;
    border-width: 1px;
}
#xframt {
    height: 22px;
    width: 80px;
    font-size: 14px;
    border-width: 1px;
}
