.modal-header {
    background-color:#e9f2e9;
}
.modal-footer {
    background-color: #e9f2e9;
}
#exptbl {
    border-collapse: collapse;
    border: none;
}
#exptbl tr td {
    border: none;
}
input[type=checkbox] {
    transform: scale(1.4);
}
.fullsel {
    height: 28px;
}
#expamt {
    height: 24px;
    width: 70px;
    font-size: 14px;
    border-width: 1px;
    margin-bottom: 8px;
}
#exppayto {
    height: 28px;
}
#onedep {
    width: 100px;
}
.amtright {
    text-align: right;
}
.descleft {
    text-align: left;
}
.noshow {
    display: none;
}
#xframt {
    width: 80px;
    height: 26px;
    font-size: 14px;
    margin-bottom: 8px;
}
#xfrto {
    position: relative;
    top: 8px;
}
#cda {
    width: 120px;
}
#adder {
    position: relative;
    top: 8px;
}
#ccselap {
    margin-top: 8px;
}
#useday {
    width: 36px;
}
#mo {
    width: 56px;
}
input[id^=q] {
    padding-left: 6px;
    margin-left: 8px;
    margin-bottom: 6px;
}
/* modal for charging expense */
#exptbl {
    border: none;
}
table#aptbl {
    box-sizing: content-box;
    border: 2px solid darkgreen;
    margin-left: auto;
    margin-right: auto;     
}
table#aptbl tr.lblrow {
    color: darkgreen;
}
table#aptbl td {
    border: none;
    padding-left: 1em;
    padding-right: 1em;
}

table#aptbl td.lst {
    vertical-align: middle;
    padding: 4px 6px 7px 6px;
}
.aplbl {
    font-weight: bold;
    text-decoration: underline;
    padding-right: 1px;
}
.paybox {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
    margin-right: 6px;
}
input[id^=amt] {
    width: 64px;
    font-size: 14px;
}
input[id^=payee] {
    width: 148px;
    font-size: 14px;
}
