.modal-header {
    background-color:#e9f2e9;
}
.modal-footer {
    background-color: #e9f2e9;
}
#exptbl {
    border-collapse: collapse;
    border: none;
}
#exptbl tr td {
    border: none;
}
input[type=checkbox] {
    transform: scale(1.4);
}
.fullsel {
    height: 28px;
}
#expamt {
    height: 24px;
    width: 70px;
    font-size: 14px;
    border-width: 1px;
    margin-bottom: 8px;
}
#exppayto {
    height: 28px;
}
#onedep {
    width: 100px;
}
.amtright {
    text-align: right;
}
.descleft {
    text-align: left;
}
.noshow {
    display: none;
}
#xframt {
    width: 80px;
    height: 26px;
    font-size: 14px;
    margin-bottom: 8px;
}
#xfrto {
    position: relative;
    top: 8px;
}
#cda {
    width: 120px;
}
#adder {
    position: relative;
    top: 8px;
}
#ccselap {
    margin-top: 8px;
}
#useday {
    width: 36px;
}
#mo {
    width: 56px;
}
