#intro {
    margin-left: 16px;
}
#ready {
    margin-top: 12px;
    margin-bottom: 8px;
}
h2 {
    margin-top: 4px;
}
#done {
    height: 32px;
    font-size: 18px;
    position: relative;
    left: 120px;
}
.steps {
    background-color: #004a00;
    color: #fff5e6;
    height: 28px;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 12px;
}
#budget, #cards, #expenses {
    display: none;
}
.note {
    margin-bottom: 8px;
}
#selnote {
    position: relative;
    top: 7px;
}
#save {
    margin-top: 4px;
}
#new {
    position: relative;
    top: 10px;
}
#buditems {
    margin-top: 8px;
}
#form {
    margin-top: 8px;
}
#entered, #centered, #eentered {
    position: relative;
    top: -8px;
}
.acctname, .bud, .bal, .ocname, .exp {
    height: 18px;
    font-size: 14px;
    padding-top: 4px;
    padding-left: 4px;
}
.acctname {
    width: 180px;
}
.bud {
    width: 100px;
}
.bal {
    width: 100px;
}
#paypal {
    position: relative;
    top: -8px;
}
.emeth {
    margin-left: 60px;
    position: relative;
    top: 4px;
}
textarea {
    height: 22px;
    font-size: 16px;
}
input[type=checkbox] {
    transform: scale(1.6);
}
