#intro {
    margin-left: 16px;
}
#ready {
    margin-top: 12px;
}
.steps {
    background-color: #004a00;
    color: #fff5e6;
    height: 28px;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#budget, #cards, #expenses {
    display: none;
}
#page {
    margin-left: 16px;
}
#old {
    display: none;
}
#new {
    position: relative;
    top: 24px;
}
.acctname, .bud, .bal {
    height: 18px;
    font-size: 14px;
}
.acctname {
    width: 180px;
}
.bud {
    width: 100px;
}
.bal {
    width: 100px;
}
#done {
    position: relative;
    left: 120px;
}
textarea {
    height: 22px;
    font-size: 16px;
}
