.left {
    text-align: left;
}
.right {
    text-align: right;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}
#rtb {
  margin-left: 60px;
}
#inst {
  font-size: 18px;
}
th:not(#exptbl) {
  background-color: #004a00;
  color: white;
  cursor: pointer;
}
.rsum_hdr {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
.sum {
  font-style: italic;
  font-weight: bold;
  color: darkgreen;
}
