#page {
    margin-left: 16px;
}
#back {
    margin-left: 10px;
}
table:not(#exptbl) {
    border-collapse: collapse; background-color: snow;
    border-width: 2px; border-style: outset; border-color: black;
}
table:not(#exptbl) th {
    text-align: left; padding: 4px 6px 4px 6px;
    background-color: #afcfaf; border-bottom: 2px 
    solid black; border-top: 2px; border-right: 2px solid black; 
    position: sticky; top: 0; cursor: pointer;
}
table:not(#exptbl) th:hover {
    background-color: ghostwhite;
}
table:not(#exptbl) tr.even {
    background-color: #eff5ef;
}
table:not(#exptbl) td {
    padding: 4px 6px 4px 6px;
}
.red  {
    color: firebrick;
}
.inc  {
    margin-left: 16px; margin-top: 16px; margin-bottom: 0px;
}
table:not(#exptbl) tbody tr:hover {
    background-color: #bfd9bf;
}
